@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-image: url("./assets/background-image.png");
  object-fit: cover;
  position: relative;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #c2dafbd5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}

.form-input {
  border: 2px solid #ccc !important;
}



@media screen and (max-width: 992px) {
  .auth-image {
    display: none;
  }
  .wave-vector{
    display: none;
  }
}
